:root
{
    --primary-color:#56768F;
    --text-color:#F9F1E7;
}

.lightmode
{
    --primary-color:#65B5F6;
    --text-color:#2E3647;
    --window-color:#CEBAE8;
    --window-top-color:#56768F;
    --toolbar-color:#916DBF;
}

#darkIcon
{
    padding:10px;
    padding-left:3px;
    width:50px;
    height:50px;
}

#lightIcon
{
    padding:10px;
    padding-left:3px;
    width:50px;
    height:50px;
}

#themeBtn
{
    background: none;
    border:none;
}

#themeBtn:hover
{
    cursor:pointer;
}

#themeBtn img:last-child
{
    display:none;
}

.lightmode #themeBtn img:first-child
{
    display:none;
}

.lightmode #themeBtn img:last-child
{
    display:block;
}

body
{
    margin:0;
    padding:0;
    background-color:var(--primary-color);
}

#fileContainer
{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    height: 75vh;
}

.fileIcon
{
    width:100.57px;
    height:78.33px;
}

.fileIcon:hover
{
    cursor: pointer;
}

#lightFile
{
    display:none;
}

#fileText
{
    font-family:'Itim';
    color:var(--text-color);
    font-size:1.3em;
}

