:root
{
    --primary-color:#56768F;
    --text-color:#F9F1E7;
}

.lightmode
{
    --primary-color:#65B5F6;
    --text-color:#2E3647;
}

#lightIcon
{
    padding:10px;
    padding-left:3px;
    width:50px;
    height:50px;
}

#darkIcon
{
    padding:10px;
    padding-left:3px;
    width:50px;
    height:50px;
}

#themeBtn
{
    background: none;
    border:none;
    transition: transform 0.3s;
}

#themeBtn:hover
{
    cursor:pointer;
    transform: scale(1.1);
}

#themeBtn:active
{
    transform: scale(0.9);
}

#themeBtn img:last-child/*to ensure that the light icon is not displayed*/
{
    display:none;
}

.lightmode #themeBtn img:first-child/*same as the above but for dark icon*/
{
    display:none;
}

.lightmode #themeBtn img:last-child/*to prevent overlapping*/
{
    display: block;
}

body
{
    margin:0;
    padding:0;
    background-color: var(--primary-color);
}

#icon-container
{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    height: fit-content;
    position: relative;
    bottom: -20vh;
    margin: 100px auto;
    border: solid 2px black;
}

#gif,
#fidzzIcon
{
    display:block;
    position:absolute;
    width:28vh;
    height:28vh;
    object-fit: contain;
    padding: none;
}

#gif
{
    width:40vh;
    height:40vh;
    opacity:0;
    z-index:2; 
}

#fidzzIcon
{
    display:block;
    margin-inline:auto;
    margin-block:100px;
    z-index: 1;
    opacity: 1;
}

#icon-container:hover #fidzzIcon
{
    opacity: 0;
    pointer-events: none;
}

#icon-container:hover #gif
{
    opacity:1;
    pointer-events: auto;
}

#access
{
    display:block;
    margin-inline:auto;
    translate: 0px -75px;
    padding-block:10px;
    padding-inline:15px;
    text-align:center;
    background-color:#FFB84D;
    color: var(--text-color);
    border-radius: 12.5px;
    box-shadow: 0 5px 0px #E9F9B4;
    font-size: 2em;
    font-family: 'Itim';
    border:none;
    z-index: 99;
}

#access:hover
{
    background-color:#DC9A36;
    cursor: pointer;
}

#access:active
{
    background-color:#A66B13;
    box-shadow:none;
    translate: 0px -70px;
}

#linked
{
    text-decoration: none;
}

#main-container
{
    display: flex;
    flex-direction: column;
    gap: 34vh;
    width: 100%;
    height: 65vh;
    align-items: center;
    justify-content: center;
}