:root
{
    --window-color:#9A83B8;
    --window-top-color:#2E3647;
    --taskbar-color:#593B7F;
    --text-color:#F9F1E7;
}

.lightmode
{
    --window-color:#CEBAE8;
    --window-top-color:#56768F;
    --taskbar-color:#916DBF;
    --text-color:#2E3647;
}

#windowIcons
{
    display:flex;
    position:absolute;
    flex-direction: row;
    padding: 10px;
    gap:8px;
    justify-content: center;
    align-items: center;
    bottom: 50%;
}

#windowIcons img:nth-child(even)
{
    display: none;
}

.lightmode #windowIcons img:nth-child(odd)
{
    display:none;
}

.lightmode #windowIcons img:nth-child(even)
{
    display: block;
}

.tabIcon
{
    width: 12vh;
    height:12vh;
}

#window-name
{
    display:block;
    position:absolute;
    left:10px;
    bottom:95.5%;
    font-size: 1.5em;
    color: var(--text-color);
    font-family:'Itim';
    -webkit-user-select:none;
    user-select:none;
    text-align:left;
}

.tabIcon
{
    width: 15vh;
    height:15vh;
}

.tabIcon:nth-child(1),
.tabIcon:nth-child(2)
{
    width: 18vh;
    height: 18vh;
}

.tabIcon:nth-child(5),
.tabIcon:nth-child(6)
{
    width: 18vh;
    height: 18vh;
}

.tabIcon:nth-child(7),
.tabIcon:nth-child(8)
{
    width: 16vh;
    height: 16vh;
}

