:root
{
    --window-color:#9A83B8;
    --window-top-color:#2E3647;
    --taskbar-color:#593B7F;
    --text-color:#F9F1E7;
}

.lightmode
{
    --window-color:#CEBAE8;
    --window-top-color:#56768F;
    --taskbar-color:#916DBF;
    --text-color:#2E3647;
}

#windowIcons
{
    display:flex;
    position:absolute;
    flex-direction: row;
    padding: 15px;
    gap:25px;
    justify-content: center;
    align-items: center;
    bottom: 8%;
    left:22%;
    right:22%;
}

.tabIcon-light
{
    display: none;
}

.lightmode .tabIcon-dark
{
    display:none;
}

.lightmode .tabIcon-light
{
    display: block;
}

#window-name
{
    display:block;
    position:absolute;
    left:10px;
    bottom:95.5%;
    font-size: 1.5em;
    color: var(--text-color);
    font-family:'Itim';
    -webkit-user-select:none;
    user-select:none;
    text-align:left;
}

.tabIcon-dark,
.tabIcon-light
{
    width: 15vh;
    height:15vh;
    object-fit: contain;
    background: transparent;
}


.tabGroup
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: none;
}

.icon-name
{
    font-family: 'Itim';
    color: var(--text-color);
    font-size: 1.2em;
    -webkit-user-select: none;
    user-select: none;
    text-align: center;
    margin-top:3px;
}

