:root
{
    --window-color:#9A83B8;
    --window-top-color:#2E3647;
    --toolbar-color:#593B7F;
    --text-color:#F9F1E7;
}

#window
{
    display: block;
    width:120vh;
    height:60vh;
    background-color: var(--window-color);
    position:absolute;
    border-radius: 20px;
}

#windowbox
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#placeholder
{
    text-align: center;
}